* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 960px;
  height: 960px;
  margin: 0 auto;

  background: violet;
}

.box {
  background: white;
  box-shadow: inset 1px 0 5px rgba(56, 56, 56, .4);
}
